@model IEnumerable<Codeflow.Models.Question>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.QuestionTittle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Account.FirstName)
        </th>
        <th>
            @Html.ActionLink("Votes", "Index", new { sortOrder = "Votes" })
        </th>
        
        <th>
            @Html.ActionLink("Answers", "Index", new { sortOrder = "Answers" })
        </th>
        @{ string Date = "View";}
        <th>
            @Html.DisplayNameFor(model => model.QTime)
        </th>
        <th>
            @Html.ActionLink("Views", "Index", new { sortOrder = "Views" })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.QuestionTittle, "Details", new { id = item.QuestionID })
        </td>
        <td>
            @Html.ActionLink(item.Account.FirstName, "Details", "Account", new { id = item.AccountID }, null)
        </td>
            @{
                int votes = item.Votetotals.Count;
                int votes2 = item.Voteminus.Count;
                int votes3 = votes - votes2; }
        <td>
            @Html.DisplayFor(modelItem => votes3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Answers.Count)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Questionviews.Count)
        </td>
        
    </tr>
}

</table>
