@model Codeflow.Models.Answer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Answer</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Answerstring)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Answerstring)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Votes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Votes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OwnerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
